/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  padding: 2rem 0;
  padding-left: 5rem;
  background: #f5f5f5;
}
@media (max-width: 515px) {
  .container {
    padding: 25px 0;
  }
}
nav {
  width: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 515px) {
  nav {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: lightgray;
}
header {
  background: #edf7fd;
  margin: 1rem 0;
  width: 95%;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 2rem;
}
header img {
  margin: 1rem;
  width: 15%;
  height: 15%;
}
@media (max-width: 515px) {
  header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
header h1 {
  font-size: 3rem;
  margin-left: 2rem;
}
@media (max-width: 515px) {
  header h1 {
    padding-right: 50px;
    text-align: center;
    font-size: 24px;
  }
}
header h2 {
  margin: 1rem 2rem;
}
@media (max-width: 515px) {
  header h2 {
    text-align: center;
  }
}
header p {
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid black;
}
header button {
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 10%;
  height: 40px;
  width: 150px;
  font-size: 1rem;
  color: white;
  background-color: gray;
}
@media (max-width: 515px) {
  header button {
    margin-top: 15px;
    margin-left: 110px;
  }
}
.top-content {
  display: flex;
  flex-flow: row wrap;
}
.top-content .bio {
  width: 40%;
}
@media (max-width: 515px) {
  .top-content .bio {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.top-content .bio h2 {
  font-size: 2rem;
}
.top-content .bio p {
  margin-top: 1rem;
}
@media (max-width: 515px) {
  .top-content .bio p {
    text-align: center;
  }
}
.top-content .list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 5rem;
}
@media (max-width: 515px) {
  .top-content .list {
    width: 55%;
  }
}
.top-content .list h2 {
  font-size: 2rem;
}
.top-content .list p {
  width: 40%;
  border: 1px solid black;
  padding-left: 1rem;
  margin-top: 1rem;
  line-height: 2rem;
}
@media (max-width: 515px) {
  .top-content .list p {
    text-align: center;
    width: 100%;
  }
}
.education,
.work-history {
  margin: 25px 0;
}
.education h2,
.work-history h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 515px) {
  .education h2,
  .work-history h2 {
    margin-right: 20px;
    text-align: center;
  }
}
.education table,
.work-history table {
  border-collapse: collapse;
  width: 95%;
}
.education table th,
.work-history table th {
  font-size: 1.5rem;
}
.education table td,
.work-history table td,
.education table th,
.work-history table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.education table tr:nth-child(even),
.work-history table tr:nth-child(even) {
  background-color: #dddddd;
}
@media (max-width: 515px) {
  .work-history .mobile-gone {
    display: none;
  }
}
