/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  font-family: serif;
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  margin: 2rem 4rem;
}
nav {
  width: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: lightgray;
}
header {
  background: #edf7fd;
  margin: 1rem 0;
  width: 93%;
  display: flex;
  flex-flow: column wrap;
}
header img {
  margin: 2rem;
  width: 15%;
  height: 15%;
}
header h1 {
  font-size: 3rem;
  margin-left: 2rem;
}
header h2 {
  margin: 1rem 2rem;
}
header p {
  margin: 1rem 2rem;
  padding-top: 1rem;
  border-top: 1px solid black;
}
header button {
  margin-left: 2rem;
  margin-bottom: 2rem;
  border-radius: 10%;
  height: 40px;
  width: 150px;
  font-size: 1rem;
  color: white;
  background-color: darkgray;
}
.top-content {
  display: flex;
  flex-flow: row wrap;
}
.top-content .bio {
  width: 45%;
}
.top-content .bio h2 {
  font-size: 2rem;
}
.top-content .bio p {
  margin-top: 1rem;
}
.top-content .list {
  width: 43.5%;
  margin-left: 5rem;
}
.top-content .list h2 {
  font-size: 2rem;
}
.top-content .list p {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2rem;
}
